/build/
/target
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
/export1.csv
/export2.csv
/diff.csv
/resultDiffedLines.csv
csvcompare.iml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__com_opencsv_opencsv_3_4.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_3_1.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_3_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_4_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_4_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.vscode/settings.json
